# Lab | Imbalanced data

In [37]:
import pandas as pd

In [38]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imblearn) (0.9.1)
Requirement already satisfied: scipy>=1.3.2 in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.1.0 in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/usuari/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)

In [39]:
import imblearn
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Normalizer, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import OneHotEncoder
password = getpass.getpass()

········

In [52]:
df = pd.read_csv('customer_churn.csv')

In [53]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [54]:
# Load the dataset and explore the variables.

In [55]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [56]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [57]:
df.isna().sum() # Let's check if we have any NaNs I should take care of.

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [58]:
# Extract the target variable. Extract the independent variables and scale them.

In [59]:
df1 = df[['Churn']].copy()

In [60]:
df2 = df[['tenure', 'SeniorCitizen', 'MonthlyCharges']].copy()

In [75]:
df = df[['tenure', 'SeniorCitizen', 'MonthlyCharges','Churn' ]].copy()

In [76]:
df

      tenure  SeniorCitizen  MonthlyCharges Churn
0          1              0           29.85    No
1         34              0           56.95    No
2          2              0           53.85   Yes
3         45              0           42.30    No
4          2              0           70.70   Yes
...      ...            ...             ...   ...
7038      24              0           84.80    No
7039      72              0          103.20    No
7040      11              0           29.60    No
7041       4              1           74.40   Yes
7042      66              0          105.65    No

[7043 rows x 4 columns]

In [61]:
df1

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 1 columns]

In [62]:
df2

      tenure  SeniorCitizen  MonthlyCharges
0          1              0           29.85
1         34              0           56.95
2          2              0           53.85
3         45              0           42.30
4          2              0           70.70
...      ...            ...             ...
7038      24              0           84.80
7039      72              0          103.20
7040      11              0           29.60
7041       4              1           74.40
7042      66              0          105.65

[7043 rows x 3 columns]

In [68]:
from sklearn.preprocessing import StandardScaler
import pickle # allows us to save python objects

# Pickle - you'll use it at least for these steps:
# to save the scaler
# to save the encoder
# to save the model

transformer = StandardScaler()
transformer.fit(df2)

# saving in a pickle
with open('std_transformer.pickle', 'wb') as file:
    pickle.dump(transformer, file) # I save my transformed format
    
# loading from a pickle  
with open('std_transformer.pickle', 'rb') as file:
    loaded_transformer = pickle.load(file) # now we load it

In [73]:
loaded_transformer.transform(df2)

array([[-0.01306087,  0.        , -1.16032292],
       [ 0.15382019,  0.        , -0.25962894],
       [-1.93029764,  0.        , -0.36266036],
       ...,
       [-1.02857044,  0.        , -1.1686319 ],
       [-1.65338412,  0.        ,  0.32033821],
       [ 1.21969744,  0.        ,  1.35896134]])

In [74]:
# Build the logistic regression model.

In [80]:
scaler = StandardScaler()
X = pd.get_dummies(df.drop('Churn', axis=1))
X_scaled = loaded_transformer.transform(df2)
y = data['Churn']

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42, stratify=y)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

classification = LogisticRegression(random_state=42, max_iter=10000)
classification.fit(X_train_scaled, y_train)

predictions = classification.predict(X_test_scaled)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

          No       0.78      0.92      0.84      1035
         Yes       0.56      0.28      0.38       374

    accuracy                           0.75      1409
   macro avg       0.67      0.60      0.61      1409
weighted avg       0.72      0.75      0.72      1409

In [82]:
# We see we have a precision on 0,78, this means that from all the values that were predicted NO, a 78% where acttually NO

In [83]:
# We have a recall of 0,92, so for all the NO, I predicted correctly 92%

In [84]:
# We have an accuracy of 75% which means we got a 75% of the values right.

In [85]:
# We can conclude that the model is much better at predicting NO than YES

Even a simple model will give us more than 70% accuracy. Why?

In [86]:
# We have an accurancy of 75%, however we can see that the model is not good at predicting the YES values. We have a high accuracy because the model can predict the NO values, but it should also be able to predict the YES, this might be because the data is not balanced.

Synthetic Minority Oversampling TEchnique (SMOTE)

In [98]:
from imblearn.over_sampling import SMOTE

X = pd.get_dummies(df.drop('Churn', axis=1))
y = df['Churn']

X_train, X_test, y_train, y_Churntest = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

smote = SMOTE()
X_train_scaled , y_train = smote.fit_resample(X_train_scaled, y_train)
y_train.value_counts()

No     4139
Yes    4139
Name: Churn, dtype: int64

In [100]:
classification = LogisticRegression(random_state=42, max_iter=10000)
classification.fit(X_train_scaled, y_train)

predictions = classification.predict(X_test_scaled)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

          No       0.86      0.69      0.76      1035
         Yes       0.44      0.69      0.54       374

    accuracy                           0.69      1409
   macro avg       0.65      0.69      0.65      1409
weighted avg       0.75      0.69      0.70      1409

In [97]:
# Oversampling didn't help much

Tomek links

In [101]:
from imblearn.under_sampling import TomekLinks

X = pd.get_dummies(df.drop('Churn', axis=1))
y = df['Churn']

tomek = TomekLinks()

X_train_scaled , y_train = tomek.fit_resample(X, y)
y_train.value_counts()

No     4712
Yes    1869
Name: Churn, dtype: int64

In [105]:
X = pd.get_dummies(df.drop('Churn', axis=1)).reset_index()
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

X_train_scaled, y_train = tomek.fit_resample(X, y)

classification = LogisticRegression(random_state=42, max_iter=100000)
classification.fit(X_train_scaled, y_train)

predictions = classification.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

          No       0.84      0.85      0.85      1035
         Yes       0.58      0.57      0.57       374

    accuracy                           0.78      1409
   macro avg       0.71      0.71      0.71      1409
weighted avg       0.77      0.78      0.77      1409

In [106]:
# With the Tomek links the model has improved a little more, now it is a little more better at predicting YES, and the accuracy is also few points higher.